<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
		<section name="DbResourceConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false" />
		<section name="migrations" type="Bnsights.CoreLib.Migrations.MigrationsConfigSection, Bnsights.CoreLib" />
	</configSections>
	<connectionStrings>
		<add name="ClientAppContext_Connection" connectionString="data source=.;Initial Catalog=BBSFAppDB2;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
		<add name="ClientAppContext_File" connectionString="data source=.;Initial Catalog=BBSFAppDB_File;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="BBSF_DevMode" value="true" />
		<add key="BBSF_BaseURL" value="https://localhost:44311/" />
		<add key="BBSF_PagingCount" value="10" />
		<!--MVC Keys-->
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="false" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="vs:EnableBrowserLink" value="false" />
	</appSettings>
	<system.web>
		<sessionState sqlConnectionString="data source=.;Integrated Security=SSPI;Application Name=BBSFAppMVCPApp2;" cookieName="BBSFAppSessionCookie2" allowCustomSqlDatabase="true" mode="SQLServer" cookieless="UseDeviceProfile" timeout="1" regenerateExpiredSessionId="true" />
		<!-- To generate machine keys online visit http://www.allkeysgenerator.com/Random/ASP-Net-MachineKey-Generator.aspx -->
		<machineKey validationKey="3891DDF3C1183B0413ABF4CB6659C03119C5B4F797C171053179016B5040CF1425F03516C2B89C7F1A2F45F8B07A7EB87448B3E489E54DF279AB59B41AC05537" decryptionKey="8DB51B3FB7BDF451131F88C28F111BBA7CF033A40DCB2CE098E9DCA77D59F8F7" validation="SHA1" decryption="AES" />
		<globalization uiCulture="en-GB" culture="en-GB" />
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" requestValidationMode="4.5" />
		<pages>
			<namespaces>
				<add namespace="Westwind.Utilities" />
				<add namespace="Westwind.Web" />
				<add namespace="ClientDependency.Core" />
				<add namespace="ClientDependency.Core.Mvc" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />
			<add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
		</httpModules>
		<httpHandlers>
			<add verb="GET" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
		</httpHandlers>
	</system.web>
	<migrations>
		<add ID="0" BBSF="" Client="CreateInitial" />
		<add ID="1" BBSF="" Client="AddStudent" />
		<add ID="2" BBSF="" Client="EditStudent" />
	</migrations>
	<log4net>
		<appender name="Logs" type="log4net.Appender.RollingFileAppender">
			<file value="C:\BLogs\BBSFApp_Logs\Logs.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="dd-MM-yyyy" />
			<maxSizeRollBackups value="50" />
			<maximumFileSize value="5MB" />
			<encoding value="utf-8" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level %property{CorrelationID} %date - %message%newline" />
			</layout>
		</appender>
		<appender name="Utilization" type="log4net.Appender.RollingFileAppender">
			<file value="C:\BLogs\BBSFApp_Logs\Utilization.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="dd-MM-yyyy" />
			<maxSizeRollBackups value="50" />
			<maximumFileSize value="5MB" />
			<encoding value="utf-8" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level %property{CorrelationID} %date - %message%newline" />
			</layout>
		</appender>
		<appender name="Emails" type="log4net.Appender.RollingFileAppender">
			<file value="C:\BLogs\BBSFApp_Logs\Emails.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="dd-MM-yyyy" />
			<maxSizeRollBackups value="50" />
			<maximumFileSize value="5MB" />
			<encoding value="utf-8" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{CorrelationID} %date %message%newline%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="Logs" />
		</root>
		<logger name="Utilization" additivity="false">
			<level value="ALL" />
			<appender-ref ref="Utilization" />
		</logger>
		<logger name="Emails" additivity="false">
			<level value="ALL" />
			<appender-ref ref="Emails" />
		</logger>
		<logger name="Hangfire" additivity="false">
			<level value="WARN" />
			<appender-ref ref="HangfireLoggerAppender" />
		</logger>
	</log4net>
	<clientDependency version="1">
		<!-- Full config documentation is here: https://github.com/Shazwazza/ClientDependency/wiki/Configuration -->
	</clientDependency>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".ttf" />
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
		</staticContent>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />
			<remove name="ClientDependencyModule" />
			<add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
		</modules>
		<handlers>
			<remove name="DependencyHandler" />
			<add name="DependencyHandler" preCondition="integratedMode" verb="GET" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
		</handlers>
	</system.webServer>
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.Optimization" />
				<add namespace="ClientApp.Web" />
				<add namespace="Bnsights.CoreLib.Common" />
				<add namespace="Bnsights.MvcControls" />
				<add namespace="Bnsights.CoreLib.Utils.Honeypot" />
				<add namespace="Bnsights.CoreLib" />
				<add namespace="ClientApp.BLL" />
				<add namespace="ClientApp.BLL.DTOs" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FluentValidation" publicKeyToken="7de548da2fbae0f0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebMarkupMin.Core" publicKeyToken="99472178d266584b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.5.8.0" newVersion="2.5.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<DbResourceConfiguration>
		<add key="ConnectionString" value="ClientAppContext_Connection" />
		<add key="DataProvider" value="SqlServer" />
		<add key="ResourceTableName" value="Localization" />
		<add key="ActiveConfiguration" value="" />
		<add key="StronglyTypedGlobalResource" value="~/Properties/Resources.cs" />
		<add key="ResourceBaseNamespace" value="AppResources" />
		<add key="ResxExportProjectType" value="Project" />
		<add key="ResxBaseFolder" value="~/Properties/" />
		<add key="StringLocalizerResourcePath" value="Properties" />
		<add key="AddMissingResources" value="False" />
		<add key="ResourceAccessMode" value="DbResourceManager" />
		<add key="LocalizationFormWebPath" value="~/LocalizationAdmin/" />
		<add key="BingClientId" value="" />
		<add key="GoogleApiKey" value="" />
	</DbResourceConfiguration>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>